.button_event {
  display: flex;
  align-items: center;
  background-color: transparent;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
  border: none;
  width: 100%;
  height: 40px;
  border-radius: 15px;
  padding: 0 10px;

  transition: background-color .1s ease;

  .button_event__icon {
    width: 25px;
    height: 25px;
  }
  .button_event__title {
    margin-left: 10px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &:hover {
    background-color: #414345;
    cursor: pointer;
  }
}